<div id="userConsole">
    <div>
        <button class="btn btn-danger" (click)="openCreateUserDialog()">+</button>
    </div>
    <table mat-table
           [dataSource]="usersDataSource" multiTemplateDataRows
           class="mat-elevation-z8">
        <!-- Number Column -->
        <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef> {{ 'page.adminconsole.users.usersTable.idcol' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> {{ 'page.adminconsole.users.usersTable.emailcol' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> {{ 'page.adminconsole.users.usersTable.firstnamecol' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- last Name Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> {{ 'page.adminconsole.users.usersTable.lastnamecol' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- Role Column -->
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> {{ 'page.adminconsole.users.usersTable.rolecol' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{element.role.role}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="usersTableColumns.length">
                <div class="element-detail"
                     [@detailExpand]="element == expandedUserElement ? 'expanded' : 'collapsed'">
                    <div>
                        <button mat-stroked-button class="table-row-btn" (click)="updateUser(element)">
                            {{ 'page.adminconsole.users.usersTable.btnupdate' | translate}}
                        </button>
                        <button mat-stroked-button class="table-row-btn delete-btn" *ngIf="displayDeleteBtn(element)"
                                (click)="deleteUser(element)">
                            {{ 'page.adminconsole.users.usersTable.btndelete' | translate}}
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="usersTableColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: usersTableColumns;"
            class="element-row"
            [class.expanded-row]="expandedUserElement === element"
            (click)="expandedUserElement = expandedUserElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</div>
