@import "src/assets/scss/core/variables/colors";

.season-table-container {
  width: 100%;
  overflow: scroll;
  max-height: 70vh;

  table {
    width: 100%;

    tr.detail-row {
      height: 0;
    }

    tr.element-row:not(.expanded-row) {
      &:hover {
        background: $base-table-background;
        cursor: pointer;
      }
    }

    td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
      padding: 0 10px 0 10px;
      text-align: center;
    }

    .col-detail {
      left: 0 !important;
      min-width: 50px;

      .show-detail-icon {
        text-align: center;
        vertical-align: middle;
        transition: all .2s ease-in-out;
        color: $base-opposite-color;

        &:hover {
          color: $base-opposite-color-hover;
          -webkit-box-shadow: none;
          box-shadow: none;
          transform: scale(1.1);
          cursor: pointer;
        }
      }
    }

    .col-match-date {
      left: 50px !important;
      min-width: 110px;
    }

    .col-result {
      left: 160px !important;
      min-width: 110px;
      white-space: pre;
    }

    .sticky-col {
      min-width: 110px;
    }

    .element-row td {
      border-bottom-width: 0;
    }

    .element-row-user {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: rgba(0, 0, 0, .12);
    }

    .element-detail {
      overflow: hidden;
      display: flex;

      .table-row-btn {
        color: $base-color;
        background: $base-opposite-color;

        &:hover {
          background: $base-opposite-color-hover;
        }
      }
    }

    .delete-btn {
      margin-left: 15px;
      margin-bottom: 10px;
    }

    .cell {
      padding: 0 10px 0 10px;
      text-align: center;
      font-weight: 500;
      font-size: 12px;
      color: rgba(0, 0, 0, .54);
    }

    .win-background {
      color: rgba(24, 133, 30, 0.82);
    }

    .lose-background {
      color: rgba(249, 19, 27, 0.82);
    }

    .draw-background {
      color: rgba(204, 207, 61, 0.82);
    }

    .tbd-background {
      color: rgba(207, 104, 58, 0.82);
    }
  }
}

.table-footer {
  .mat-paginator {
    display: block;
    width: 100%;
  }
}
