<div class="main-content">
    <div class="container-fluid">
        <div>
            {{ 'page.season.title' | translate}} {{getSeasonYear()}}
        </div>
        <div *ngIf="isCurrentUserAdmin()">
            <div>
                <button class="btn btn-danger" (click)="openCreateDialog()">+</button>
            </div>
            <div class="season-table-container">
                <table mat-table matSort (matSortChange)="sortData($event)"
                       [dataSource]="dataSource" multiTemplateDataRows
                       class="mat-elevation-z8">
                    <ng-container matColumnDef="detail" [sticky]="true">
                        <th mat-header-cell [ngClass]="'col-detail'"
                            *matHeaderCellDef>
                        </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="'col-detail'">
                            <i class="far fa-arrow-alt-circle-right show-detail-icon fa-2x" (click)="openDetail(element)"></i>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="matchDate" [sticky]="true">
                        <th mat-header-cell mat-sort-header [ngClass]="'col-match-date'"
                            *matHeaderCellDef> {{ 'page.season.table.matchdate' | translate}} </th>
                        <td mat-cell *matCellDef="let element"
                            [ngClass]="'col-match-date'"> {{element.match.matchDate | date:'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="result" [sticky]="true">
                        <th mat-header-cell [ngClass]="'col-result'"
                            *matHeaderCellDef> {{ 'page.season.table.result' | translate}} </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="'col-result'"> {{getResult(element)}} </td>
                    </ng-container>

                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedDynamicColumns">
                        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                        <td mat-cell class="cell {{getBackground(element, column)}}"
                            *matCellDef="let element">
                            {{getResultForLineupPlayer(element, column)}}
                        </td>
                    </ng-container>

                    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedAllColumns.length">
                            <div class="element-detail"
                                 [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                                <div>
                                    <button mat-stroked-button class="table-row-btn"  (click)="updateMatch(element)">
                                        {{ 'page.season.table.btnupdate' | translate}}
                                    </button>
                                    <button mat-stroked-button class="table-row-btn delete-btn" (click)="deleteMatch(element)">
                                        {{ 'page.season.table.btndelete' | translate}}
                                    </button>
                                </div>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedAllColumns"></tr>
                    <tr mat-row *matRowDef="let element; columns:displayedAllColumns;"
                        class="element-row"
                        [class.expanded-row]="expandedElement === element"
                        (click)="onRowClick(element)">
                    </tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
                </table>
            </div>
        </div>
        <div *ngIf="!isCurrentUserAdmin()">
            <div class="season-table-container">
                <table mat-table matSort (matSortChange)="sortData($event)"
                       [dataSource]="dataSource" multiTemplateDataRows
                       class="mat-elevation-z8">
                    <ng-container matColumnDef="detail" [sticky]="true">
                        <th mat-header-cell [ngClass]="'col-detail'"
                            *matHeaderCellDef>
                        </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="'col-detail'">
                            <i class="far fa-arrow-alt-circle-right show-detail-icon fa-2x" (click)="openDetail(element)"></i>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="matchDate" [sticky]="true">
                        <th mat-header-cell mat-sort-header [ngClass]="'col-match-date'"
                            *matHeaderCellDef> {{ 'page.season.table.matchdate' | translate}} </th>
                        <td mat-cell *matCellDef="let element"
                            [ngClass]="'col-match-date'"> {{element.match.matchDate | date:'dd/MM/yyyy'}} </td>
                    </ng-container>

                    <ng-container matColumnDef="result" [sticky]="true">
                        <th mat-header-cell [ngClass]="'col-result'"
                            *matHeaderCellDef> {{ 'page.season.table.result' | translate}} </th>
                        <td mat-cell *matCellDef="let element" [ngClass]="'col-result'"> {{getResult(element)}} </td>
                    </ng-container>

                    <ng-container [matColumnDef]="column" *ngFor="let column of displayedDynamicColumns">
                        <th mat-header-cell *matHeaderCellDef> {{column}} </th>
                        <td mat-cell class="cell {{getBackground(element, column)}}"
                            *matCellDef="let element">
                            {{getResultForLineupPlayer(element, column)}}
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedAllColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedAllColumns;" class="element-row-user"></tr>
                </table>
            </div>
        </div>
        <div class="table-footer">
            <mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="maxPageSize" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
