@import "src/assets/scss/core/variables/colors";

.container-fluid {
  ::ng-deep .mat-form-field.mat-focused  {
    .mat-form-field-label {
      color: $base-opposite-color;
    }

    .mat-form-field-ripple {
      background-color: $base-opposite-color;
    }
  }

  ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: $base-opposite-color;
  }
}
