<div class="main-content">
    <div class="container-fluid">
        <mat-form-field appearance="fill">
            <mat-label>{{ 'page.adminconsole.topicLabel' | translate }}</mat-label>
            <mat-select [(value)]="selectedAdminOption">
                <mat-option *ngFor="let option of displayedAdminOptions" [value]="option">
                    {{option}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <div *ngIf="selectedAdminOption === 'user'">
            <app-user-console></app-user-console>
        </div>

        <div *ngIf="selectedAdminOption === 'season'">
            <app-season-console></app-season-console>
        </div>

    </div>
</div>
