<div class="jumbotron bg-transparent text-center">
    <div class="card text-center">
        <h6 class="card-header">
            {{'login.title' | translate}}
        </h6>
        <div class="card-block">
            <p class="card-text">{{'login.signinwith' | translate}}</p>
        </div>
        <div class="card-block">
            <button (click)="signInWithGoogle()" class="btn btn-social-icon btn-google">
                <img src="assets/img/google-logo.jpg">
            </button>
        </div>
        <div *ngIf="showUnauthorized" class="div-unauthorized">
            {{'login.notauthorized' | translate:{ username: user.email } }}
        </div>
    </div>
</div>
