.bg-transparent {
  background-color: transparent;
}

:host {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo {
  object-fit: contain;
}

.text-center {
  text-align: center;
}

.card {
  width: 20rem;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.h6, h6 {
  font-size: 1rem;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
  margin-top: 0;
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #f7f7f9;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
}

.btn-facebook {
  color: #fff;
  background-color: #3b5998;
  border-color: rgba(0,0,0,.2);
  &:hover {
    background-color: #34366c;
  }
}

.btn-google {
  color: #ffffff;
  background-color: black;
  border-color: rgba(0,0,0,.2);
  &:hover {
    background-color: grey;
  }
}

.btn-social-icon {
  position: relative;
  text-align: left;
  height: 34px;
  width: 34px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-social-icon>:first-child {
  border: none;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  line-height: 34px;
  font-size: 1.6em;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
}

.div-unauthorized {
  color: #ffffff;
  background-color: #f44336;
  border-color: #f44336;
  -webkit-box-shadow: none;
  box-shadow: none;
}
