@import "src/assets/scss/core/variables/colors";

.mat-toolbar {
  background: $base-opposite-color;
}

::ng-deep .cdk-overlay-pane {
  transform: translate(-16px, 0px);
}

.menu-button {
  background: inherit;
  color: $base-color;

  &:hover {
    background-color: $base-opposite-color-hover;
  }
}

::ng-deep .mat-menu-content {
  background: $base-opposite-color;
}

.app-title-span {
  color: $base-color;

  &:hover {
    background-color: $base-opposite-color-hover;
  }

}

.league-div {
  color: $base-color;
  display: flex;

  .app-title-a {
    padding-top: 3px;
  }

  .league-select-div {
    ::ng-deep .mat-select-value {
      display: none;
    }

    ::ng-deep .mat-select-arrow-wrapper {
      padding-bottom: 15px;
    }

    &:hover {
      background-color: $base-opposite-color-hover;
    }
  }

}

.translation-div {
  margin-left: auto;
  margin-right: 20px;
  color: $base-color;

  &:hover {
    background-color: $base-opposite-color-hover;
  }
}

.sign-out-button {
  color: $base-color;

  &:hover {
    background-color: $base-opposite-color-hover;
  }
}

::ng-deep .mat-select-panel-wrap {
  position: relative;
  top: 26px;

  .mat-select-panel {
    min-width: calc(100% + 12px) !important;
    transform: translateX(4px) !important;

    .mat-option.mat-active {
      background: rgba(0,0,0,.0);
      color: $base-black-text;
    }

    .mat-option {
      height: 2em !important;

      &:hover {
        background: rgba(0,0,0,.05);
      }

      .mat-option-text {
        font-size: small;
        text-align: center;

        .language-img {
          width: 20px;
        }
      }
    }
  }
}
