<div>
    <mat-toolbar>
        <button mat-icon-button class="example-icon menu-button"
                [matMenuTriggerFor]="mainMenu">
            <mat-icon>menu</mat-icon>
        </button>
        <div class="league-div">
            <a [href]=getHref() class="app-title-a">
                <span class="app-title-span">{{getAppTitle()}}</span>
            </a>
            <div class="league-select-div">
                <mat-select (selectionChange)="onLeaguesSelectionChange($event.value)" placeholder="placeholder">
                    <mat-option *ngFor="let league of getLeagues()" [value]="league">
                        {{league.leagueName}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <mat-menu #mainMenu="matMenu">
            <div>
                <app-sidebar></app-sidebar>
            </div>
        </mat-menu>
        <div class="translation-div">
            <mat-select [(value)]="selectedLanguage" (selectionChange)="onLanguageSelection()">
                <mat-option *ngFor="let option of languages" [value]="option">
                    <img [src]="option.imgPath" class="language-img">
                </mat-option>
            </mat-select>
        </div>
        <button mat-icon-button
                class="example-icon sign-out-button"
                (click)="signOut()"
                matTooltip="{{'login.signout' | translate}}">
            <mat-icon>login</mat-icon>
        </button>
    </mat-toolbar>
</div>
