<div *ngIf="menuVisible(menuItem)">
    <div class="menu-item" *ngIf="menuItem.hasSubmenu === false">
        <a *ngIf="!isSubmenu" class="nav-link" [routerLink]="[menuItem.path]">
            <i class="material-icons menu-icon">{{menuItem.icon}}</i>
            <p>{{menuItem.title}}</p>
        </a>
        <a *ngIf="isSubmenu" class="nav-link submenu" [routerLink]="[menuItem.path]">
            <i class="material-icons submenu-icon">{{menuItem.icon}}</i>
            <p class="submenu-item-text">{{menuItem.title}}</p>
        </a>
    </div>
    <div class="menu-item submenu" *ngIf="menuItem.hasSubmenu === true">
        <i class="material-icons menu-icon">{{menuItem.icon}}</i>
        <p class="submenu-item-text">{{menuItem.title}}</p>
        <button mat-icon-button [matMenuTriggerFor]="appMenu" class="submenu-btn" (click)="$event.stopPropagation();">
            <i class="material-icons submenu-icon">double_arrow</i>
        </button>
        <mat-menu #appMenu="matMenu" class="custom-menu">
            <div *ngFor="let submenu of menuItem.submenus">
                <app-menu-item [menuItem]="submenu" [isSubmenu]="true"></app-menu-item>
            </div>
        </mat-menu>
    </div>
</div>
