@import "src/assets/scss/core/variables/colors";

.menu-item {
  background: $base-opposite-color;

  .menu-icon {
    font-size: 24px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: $base-color;
  }

  &:hover {
    font-weight: bold;

    .menu-icon {
      color: $base-color-hover;
      font-weight: bold;
    }
  }
}

.submenu {
  cursor: pointer;
  display: flex;
  margin: 10px 15px 0 15px;
  border-radius: 3px;
  color: $base-color;
  background: $base-opposite-color;
  text-transform: capitalize;
  font-size: 13px;

  .submenu-btn {
    top: -5px;
    margin-left: 20px;
  }

  .submenu-icon {
    font-size: 24px;
    float: left;
    margin-right: 10px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: $base-color;

    &:hover {
      color: $base-color-hover;
    }
  }

  .submenu-item-text {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    position: relative;
    display: block;
    height: auto;
    white-space: nowrap;
  }

  .submenu-link {
    display: flex;
    color: $base-color;
    font-size: 13px;

    &:hover {
      color: $base-color-hover;
      font-weight: bold;
    }
  }

}

::ng-deep .custom-menu{
  background: $base-opposite-color;
}

