@import "src/assets/scss/core/variables/colors";

.draw-container {
  ::ng-deep .mat-step-header {
    .mat-step-icon-selected {
      background-color: $base-opposite-color;
    }

    .mat-step-icon-state-edit {
      background-color: $base-opposite-color;
    }
  }


  .step-participants-container {
    overflow: scroll;
    max-height: 60vh;
    overflow-x: hidden;

    display: flex;
    justify-content: center;

    ::ng-deep .ui-listbox {
      min-width: 400px;
    }
  }

  .buttons-div {
    border-top: solid 1px black;
    margin-top: 10px;
  }

  .step-preparation-container {
    ::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
      background: $base-opposite-color;
    }

    .create-match-container {
      .match-container {
        border: 1px solid rgba(60, 72, 88, .4);
        padding: 15px;

        ::ng-deep .mat-form-field.mat-focused  {
          .mat-form-field-label {
            color: $base-opposite-color;
          }

          .mat-form-field-ripple {
            background-color: $base-opposite-color;
          }
        }

        ::ng-deep .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
          color: $base-opposite-color;
        }
      }
    }
  }

  .step-completion-container {
    .summary-row {
      display: flex;
      margin: 10px 0 10px 0;

      .create-match-label {
        font-weight: bold;
      }
    }

    .create-draw {
      margin: 15px 0 15px 0;
      .draw-button {
        margin-top: 20px;
        background: $base-opposite-color;
        color: $base-color;

        &:hover {
          background: $base-opposite-color-hover;
        }
      }

      .draw-button-disabled {
        background: $base-color-disabled-background;
        color: $base-color-disabled;
      }
    }
  }
}
