<div class="draw-container">
    <mat-horizontal-stepper [linear]="true">
        <mat-step>
            <ng-template matStepLabel>{{'page.draw.stepper.participants.title' | translate}}</ng-template>

            <div class="step-participants-container">
                <p-listbox name="homeTeamListbox" [options]="players" [(ngModel)]="selectedPlayers"
                           optionLabel="label" multiple="multiple" checkbox="checkbox">
                    <p-header>
                        <i class="fa fa-male"></i>
                        {{'page.draw.stepper.participants.players' | translate}}
                    </p-header>
                </p-listbox>
            </div>

            <div class="buttons-div">
                <button mat-button matStepperNext>
                    {{'page.draw.stepper.next' | translate}}
                </button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>{{'page.draw.stepper.preparation.title' | translate}}</ng-template>

            <div class="step-preparation-container">
                <div class="create-match-container">
                    <mat-checkbox [(ngModel)]="createMatch">
                        {{'page.draw.stepper.preparation.creatematchcheck' | translate}}
                    </mat-checkbox>
                    <div class="match-container" *ngIf="createMatch">
                        <form [formGroup]="matchFormGroup">
                            <mat-form-field>
                                <mat-label>{{'page.season.matchdialog.matchdate' | translate}}</mat-label>
                                <input matInput readonly [ngxMatDatetimePicker]="pickerMatchDate" [(ngModel)]="matchDate"
                                       [formControl]="matchDateTimeControl">
                                <mat-datepicker-toggle matSuffix [for]="pickerMatchDate"></mat-datepicker-toggle>
                                <ngx-mat-datetime-picker #pickerMatchDate [showSeconds]="true"></ngx-mat-datetime-picker>
                            </mat-form-field>
                        </form>
                    </div>
                </div>
            </div>

            <div class="buttons-div">
                <button mat-button matStepperPrevious (click)="onCancelClick()">
                    {{'page.draw.stepper.cancel' | translate}}
                </button>
                <button mat-button matStepperPrevious>
                    {{'page.draw.stepper.back' | translate}}
                </button>
                <button mat-button matStepperNext>
                    {{'page.draw.stepper.next' | translate}}
                </button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>{{'page.draw.stepper.completion.title' | translate}}</ng-template>

            <div class="step-completion-container">
                <div class="summary-row" *ngIf="createMatch">
                    <div>{{'page.draw.stepper.completion.leagueLabel' | translate}}</div>
                    <div *ngIf="league">
                        {{league.leagueName}}
                    </div>
                    <div *ngIf="!league">
                        {{" - "}}
                    </div>
                </div>
                <div class="summary-row" *ngIf="createMatch">
                    <div>
                        {{'page.draw.stepper.completion.creatematchlabel' | translate}}
                    </div>
                    <div class="create-match-label">
                        {{getCreateMatchLabel()}}
                    </div>
                </div>
                <div class="summary-row" *ngIf="createMatch">
                    <div>{{'page.draw.stepper.completion.matchdatelabel' | translate}}</div>
                    <div *ngIf="matchDate">
                        {{matchDate | date:'dd/MM/yyyy HH:mm'}}
                    </div>
                    <div *ngIf="!matchDate">
                        {{" - "}}
                    </div>
                </div>
                <div class="summary-row">
                    <div>
                        {{'page.draw.stepper.completion.lineup' | translate}}
                    </div>
                    <div>
                        {{getLineup()}}
                    </div>
                </div>

                <div class="create-draw">
                    <button mat-button [ngClass]="{'draw-button': drawBtnVisible(), 'draw-button-disabled': !drawBtnVisible()}" (click)="draw()" [disabled]="!drawBtnVisible()">
                        {{'page.draw.stepper.preparation.createdrawbtn' | translate}}
                    </button>
                </div>
            </div>

            <div class="buttons-div">
                <button mat-button matStepperPrevious (click)="onCancelClick()">
                    {{'page.draw.stepper.cancel' | translate}}
                </button>
                <button mat-button matStepperPrevious>
                    {{'page.draw.stepper.back' | translate}}
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
