<form [formGroup]="matchFormGroup">
  <h1 mat-dialog-title>
    {{'page.season.matchdialog.title' | translate}} :  {{dialogInput.seasonMatch.match.matchDate | date:'dd.MM. yyyy'}}
  </h1>

  <mat-grid-list cols="2" [rowHeight]="125">
    <mat-grid-tile class="justify-left-grid-tile">
      <h4 class="body-content-div title-div">{{'page.season.matchdialog.result' | translate}} : </h4>
    </mat-grid-tile>
    <mat-grid-tile class="justify-left-grid-tile">
      <h4 class="body-content-div">{{'page.season.matchdialog.home' | translate}} {{getResult()}} {{'page.season.matchdialog.away' | translate}}</h4>
    </mat-grid-tile>
    <mat-grid-tile class="justify-left-grid-tile players-tile">
      <h4 class="body-content-div title-div">{{'page.season.matchdialog.playershome' | translate}} : </h4>
    </mat-grid-tile>
    <mat-grid-tile class="justify-left-grid-tile players-tile">
      <h4 class="players-div">{{getHomePlayers()}}</h4>
    </mat-grid-tile>
    <mat-grid-tile class="justify-left-grid-tile players-tile">
      <h4 class="body-content-div title-div">{{'page.season.matchdialog.playersaway' | translate}} : </h4>
    </mat-grid-tile>
    <mat-grid-tile class="justify-left-grid-tile players-tile">
      <h4 class="players-div">{{getAwayPlayers()}}</h4>
    </mat-grid-tile>
  </mat-grid-list>

  <div mat-dialog-actions class="buttons-div">
    <button mat-button (click)="onCancelClick()">{{'page.season.matchdialog.cancel' | translate}}</button>
    <button mat-button type="submit" (click)="onSubmit()" [mat-dialog-close]="dialogInput" cdkFocusInitial>
      {{'page.season.matchdialog.ok' | translate}}
    </button>
  </div>
</form>
