.mat-dialog-title {
  margin: 0 0 20px;
  display: block;
  border-bottom: 1px solid black;
}

.result-grid-tile {
  height: 25px;
  padding-left: 0px;
}

.justify-left-grid-tile >::ng-deep .mat-figure {
  justify-content: left;
}

.players-tile {
  height: 50px;
}

.body-content-div {
  font-weight: 100;
  font-size: 16px;
}

.title-div {
  font-weight: 500;
}

.players-div {
  font-weight: 100;
  font-size: 14px;
}

.buttons-div {
  border-top: 1px solid black;
}
