@import "src/assets/scss/core/variables/colors";

.create-season-btn {
  background: $base-opposite-color;

  &:hover {
    background: $base-opposite-color-hover;
  }
}

table {
  width: 100%;

  tr.detail-row {
    height: 0;
  }

  tr.element-row:not(.expanded-row) {
    &:hover {
      background: $base-table-background;
      cursor: pointer;
    }
  }

  .element-row td {
    border-bottom-width: 0;
  }

  .element-detail {
    overflow: hidden;
    display: flex;

    .table-row-btn {
      color: $base-color;
      background: $base-opposite-color;

      &:hover {
        background: $base-opposite-color-hover;
      }
    }
  }

  .delete-btn {
    margin-left: 15px;
    margin-bottom: 10px;
  }

}
