<div id="seasonConsole">
    <mat-form-field appearance="fill">
        <mat-label>{{ 'page.adminconsole.seasons.selectLeagueLabel' | translate }}</mat-label>
        <mat-select [(value)]="selectedLeagueOption" (selectionChange)="onLeaguesSelectionChange($event.value)">
            <mat-option *ngFor="let league of getLeagues()" [value]="league">
                {{league.leagueName}}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <div>
        <button class="btn create-season-btn" (click)="openCreateSeasonDialog()" [disabled]="!selectedLeagueOption">+</button>
    </div>
    <table mat-table
           [dataSource]="seasonDataSource" multiTemplateDataRows
           class="mat-elevation-z8">

        <tr mat-header-row *matHeaderRowDef="seasonTableColumns"></tr>
        <tr mat-row *matRowDef="let element; columns: seasonTableColumns;"
            class="element-row"
            [class.expanded-row]="expandedSeasonElement === element"
            (click)="expandedSeasonElement = expandedSeasonElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> {{ 'page.adminconsole.seasons.seasonsTable.nameCol' | translate}} </th>
            <td mat-cell *matCellDef="let element"> {{selectedLeague.leagueName}} {{element.seasonYear}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="seasonTableColumns.length">
                <div class="element-detail"
                     [@detailExpand]="element == expandedSeasonElement ? 'expanded' : 'collapsed'">
                    <div>
                        <button mat-stroked-button class="table-row-btn" (click)="updateSeason(element)">
                            {{ 'page.adminconsole.seasons.seasonsTable.btnupdate' | translate}}
                        </button>
                        <button mat-stroked-button class="table-row-btn delete-btn" (click)="deleteSeason(element)">
                            {{ 'page.adminconsole.seasons.seasonsTable.btndelete' | translate}}
                        </button>
                    </div>
                </div>
            </td>
        </ng-container>

    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
</div>
