<div class="sidebar-menu">
    <ul class="nav-ul">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="nav-item">
            <app-menu-item [menuItem]="menuItem"></app-menu-item>
        </li>
    </ul>
</div>
