@import "src/assets/scss/core/variables/colors";

.sidebar-menu  {
  display: flex;
  background: $base-opposite-color;
  z-index: 4;
  min-width: 250px;

  .nav-ul {
    margin-top: 20px;
    display: block;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

    .nav-item{
      margin: 10px 15px 0;
      border-radius: 3px;
      color: #3C4858;
      text-transform: capitalize;
      font-size: 13px;
      padding: 10px 15px 0px 10px;
    }

    ::ng-deep a {
      margin: 0;
      line-height: 30px;
      font-size: 14px;
      position: relative;
      display: block;
      height: auto;
      white-space: nowrap;
      color: $base-color;
    }
  }
}
