<form [formGroup]="userFormGroup">
    <h1 mat-dialog-title>{{getTitle()}}</h1>
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput [(ngModel)]="dialogInput.user.email"
                   placeholder="{{'page.adminconsole.userdialog.email.placeholder' | translate}}" [formControl]="emailControl">
            <mat-error *ngIf="emailControl.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="dialogInput.user.firstName"
                   placeholder="{{'page.adminconsole.userdialog.firstname.placeholder' | translate}}"
                   [formControl]="firstNameControl">
            <mat-error *ngIf="firstNameControl.invalid">{{getFirstNameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="dialogInput.user.lastName"
                   placeholder="{{'page.adminconsole.userdialog.lastname.placeholder' | translate}}"
                   [formControl]="lastNameControl">
            <mat-error *ngIf="lastNameControl.invalid">{{getLastNameErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select [(ngModel)]="roleSelectionId"
                        placeholder="{{'page.adminconsole.userdialog.role.placeholder' | translate}}" [formControl]="roleControl">
                <mat-option *ngFor="let roleSelection of roleSelections" [value]="roleSelection.id">
                    {{roleSelection.role.role}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="roleControl.invalid">{{getRoleErrorMessage()}}</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onCancelClick()">{{'page.adminconsole.userdialog.cancel' | translate}}</button>
        <button mat-button type="submit" (click)="onSubmit()" [mat-dialog-close]="dialogInput"
                [disabled]="!userFormGroup.valid">
            {{'page.adminconsole.userdialog.ok' | translate}}
        </button>
    </div>
</form>
