@import "src/assets/scss/core/variables/colors";

.container-fluid {
  text-align: -webkit-center;

  .dashboard-charts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: fit-content;
    border-radius: 20px;
    background-color: inherit;
    padding: 10px;


    .dashboard-main-part-div {
      display: flex;
      flex-direction: column;
      justify-content: stretch;
      align-content: stretch;

      .current-best-players-div {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex: 1 1 0px;

          .user-stats-div {
              display: flex;
              flex-direction: column;
          }
      }

      .last-matches-div {
        color: black;
        margin-top: 40px;
      }
    }
  }
}

.dashboard-tile {
  border: solid 1px transparent;
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  color: rgba(158, 158, 158, 0.87);
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);

  .tile-title-div {
    .tile-title-span {
      line-height: 1.4em;
      margin: 20px 0 10px;
      margin-top: -0.5em;
      z-index: 1000;
      color: $base-opposite-color;
      font-weight: 600;
      text-align-last: center;
      float: left;
    }
  }

  .tile-content {
    display: flex;
    flex-direction: column;

    & > span {
      align-self: flex-start;
      font-size: 14px;
      color: rgba(0,0,0,.87);
      text-align-last: left;
      text-align: left;
      white-space: break-spaces;
    }
  }
}

table {
  width: 100%;

  tr.element-row:not(.expanded-row):hover {
    background: #f2f2f2;
    cursor: pointer;
  }

  .show-detail-icon {
    text-align: center;
    vertical-align: middle;
    transition: all .2s ease-in-out;
    color: $base-opposite-color;

    &:hover {
      -webkit-box-shadow: none;
      box-shadow: none;
      transform: scale(1.1);
      cursor: pointer;
    }
  }
}
