<div class="main-content">
    <div class="container-fluid">
        <div class="dashboard-charts-container">
            <div class="dashboard-main-part-div">
                <div class="current-best-players-div">
                    <div class="dashboard-tile">
                        <div class="tile-title-div">
                            <span class="tile-title-span">{{'page.dashboard.bestrankingplayers.title' | translate}}</span>
                        </div>
                        <div class="tile-content">
                            <span *ngFor="let rankPlayer of bestRankings; index as i">
                                {{rankPlayer.player.firstName}} {{rankPlayer.player.lastName}} ({{rankPlayer.player.email}}
                                ): {{rankPlayer.pointsAvg | number: '.3-3'}}
                                <mat-divider></mat-divider>
                            </span>
                        </div>
                    </div>
                    <div class="dashboard-tile">
                        <div class="tile-title-div">
                            <span class="tile-title-span">{{'page.dashboard.mostplayed.title' | translate}}</span>
                        </div>
                        <div class="tile-content">
                            <span *ngFor="let mostMatchesPlayer of mostPlayedRankings; index as i">
                                {{mostMatchesPlayer.player.firstName}} {{mostMatchesPlayer.player.lastName}}
                                ({{mostMatchesPlayer.player.email}}): {{mostMatchesPlayer.played}}
                                <mat-divider></mat-divider>
                            </span>
                        </div>
                    </div>
                    <div class="user-stats-div dashboard-tile">
                        <div class="tile-title-div">
                            <span class="tile-title-span">{{'page.dashboard.userstats.title' | translate}}</span>
                        </div>
                        <div class="tile-content">
                            <span>{{'page.dashboard.userstats.ranking' | translate}}:     {{rankingPlayer.rank}}.</span>
                            <mat-divider></mat-divider>
                            <span>{{'page.dashboard.userstats.points' | translate}}
                                :      {{rankingPlayer.pointsAvg  | number: '.3-3'}}</span>
                            <mat-divider></mat-divider>
                            <span>{{'page.dashboard.userstats.scored' | translate}}
                                :      {{rankingPlayer.scoredOverall}}</span>
                            <mat-divider></mat-divider>
                            <span>{{'page.dashboard.userstats.received' | translate}}
                                :    {{rankingPlayer.receivedOverall}}</span>
                            <mat-divider></mat-divider>
                            <span>{{'page.dashboard.userstats.plays' | translate}}:       {{rankingPlayer.played}}</span>
                            <mat-divider></mat-divider>
                            <span>{{'page.dashboard.userstats.wins' | translate}}:        {{rankingPlayer.wins}}</span>
                            <mat-divider></mat-divider>
                            <span>{{'page.dashboard.userstats.draws' | translate}}:       {{rankingPlayer.draws}}</span>
                            <mat-divider></mat-divider>
                            <span>{{'page.dashboard.userstats.loses' | translate}}:       {{rankingPlayer.loses}}</span>
                            <mat-divider></mat-divider>
                        </div>
                    </div>
                </div>
                <div class="last-matches-div dashboard-tile">
                    <div class="tile-title-div">
                        <span class="tile-title-span">{{'page.dashboard.lastmatches.title' | translate}}</span>
                    </div>
                    <div class="tile-content">
                        <table mat-table
                               [dataSource]="dataSource" multiTemplateDataRows
                               class="mat-elevation-z8">

                            <ng-container matColumnDef="detail" [sticky]="true">
                                <th mat-header-cell [ngClass]="'col-detail'"
                                    *matHeaderCellDef>
                                </th>
                                <td mat-cell *matCellDef="let element" [ngClass]="'col-detail'">
                                    <i class="far fa-arrow-alt-circle-right show-detail-icon fa-2x"
                                       (click)="openDetail(element)"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="matchDate">
                                <th mat-header-cell *matHeaderCellDef> {{ 'page.dashboard.table.matchdate' | translate}} </th>
                                <td mat-cell *matCellDef="let element"
                                    [ngClass]="'col-match-date'"> {{element.match.matchDate | date:'dd/MM/yyyy'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="player">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{ 'page.dashboard.table.result' | translate}}
                                </th>
                                <td mat-cell *matCellDef="let element"
                                    [ngClass]="'col-match-date'">
                                    <div>{{element.match.homeScored}} : {{element.match.awayScored}}</div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="element-row"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
