@media all and (max-width: 991px) {

}

@media all and (min-width: 991px) {

}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {

}

@media screen and (max-width: 400px){
}

/*          Changes for small display      */

@media (max-width: 991px){

}


@media (min-width: 992px) {

}
