@import "src/assets/scss/core/variables/colors";
.match-dialog-container {
  .stepper-container {
    overflow: scroll;
    max-height: 400px;
    overflow-x: hidden;
  }

  .buttons-div {
    border-top: solid 1px black;
    margin-top: 10px;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: solid 1px black;
  }

  ::ng-deep .ui-listbox {
    width: 100%;

    .ui-listbox-header {
      text-align: center;
      color: rgba(63, 81, 181, 0.82);
      font-weight: 600;
    }
  }

  .result-container-div {
    height: 100px;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .result-input-div {
    text-align: center;
    padding: 0 5px 0 5px;
    margin: 0;
  }

  .home-team-div {
    text-align: right;
  }

  .away-team-div {
    text-align: left;
  }

  .result-input-text {
    width: 100px;
  }

  .summary-container-div {
    padding: 10px 0 10px 0;
    overflow-y: hidden;
  }

  .summary-row {
    display: flex;
    margin: 10px 0 10px 0;
  }

  ::ng-deep .mat-step-header {
    .mat-step-icon-selected {
      background-color: $base-opposite-color;
    }

    .mat-step-icon-state-edit {
      background-color: $base-opposite-color;
    }
  }
}
