<div class="match-dialog-container">
    <mat-horizontal-stepper [linear]="true">
        <mat-step>
            <form [formGroup]="matchFormGroup">
                <ng-template matStepLabel>{{'page.season.creatematchdialog.stepmatchdate.title' | translate}}</ng-template>

                <mat-form-field>
                    <mat-label>{{'page.season.matchdialog.matchdate' | translate}}</mat-label>
                    <input matInput readonly [ngxMatDatetimePicker]="pickerMatchDate" [(ngModel)]="matchDate"
                           [formControl]="matchDateTimeControl">
                    <mat-datepicker-toggle matSuffix [for]="pickerMatchDate"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #pickerMatchDate [showSeconds]="true"></ngx-mat-datetime-picker>
                </mat-form-field>

                <div class="buttons-div">
                    <button mat-button matStepperPrevious
                            (click)="onCancelClick()">{{'page.season.creatematchdialog.cancel' | translate}}</button>
                    <button mat-button matStepperNext>{{'page.season.creatematchdialog.next' | translate}}</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <form>
                <ng-template matStepLabel>{{'page.season.creatematchdialog.stephometeam.title' | translate}}</ng-template>
                <div class="stepper-container">
                    <p-listbox name="homeTeamListbox" [options]="homeTeamPlayers" [(ngModel)]="selectedHomeTeamPlayers"
                               optionLabel="label" multiple="multiple" checkbox="checkbox">
                        <p-header>
                            <i class="fa fa-male"></i>
                            {{'page.season.creatematchdialog.stephometeam.homeplayers' | translate}}
                        </p-header>
                    </p-listbox>
                </div>
                <div class="buttons-div">
                    <button mat-button matStepperPrevious
                            (click)="onCancelClick()">{{'page.season.creatematchdialog.cancel' | translate}}</button>
                    <button mat-button matStepperPrevious>{{'page.season.creatematchdialog.back' | translate}}</button>
                    <button mat-button matStepperNext
                            (click)="onNextInHomeTeamStepper()">{{'page.season.creatematchdialog.next' | translate}}</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>{{'page.season.creatematchdialog.stepawayteam.title' | translate}}</ng-template>
            <div class="stepper-container">
                <p-listbox name="awayTeamListbox" [options]="awayTeamPlayers" [(ngModel)]="selectedAwayTeamPlayers"
                           optionLabel="label" multiple="multiple" checkbox="checkbox">
                    <p-header>
                        <i class="fa fa-male"></i>
                        {{'page.season.creatematchdialog.stepawayteam.awayplayers' | translate}}
                    </p-header>
                </p-listbox>
            </div>
            <div class="buttons-div">
                <button mat-button matStepperPrevious
                        (click)="onCancelClick()">{{'page.season.creatematchdialog.cancel' | translate}}</button>
                <button mat-button matStepperPrevious>{{'page.season.creatematchdialog.back' | translate}}</button>
                <button mat-button matStepperNext>{{'page.season.creatematchdialog.next' | translate}}</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>{{'page.season.creatematchdialog.stepresult.title' | translate}}</ng-template>
            <div class="stepper-container result-container-div">
                <div class="home-team-div">{{'page.season.creatematchdialog.stepresult.hometeam' | translate}}</div>
                <div class="result-input-div">
                    <span class="ui-float-label">
                        <input id="home-team-input" class="result-input-text" type="text" size="30" [(ngModel)]="homeTeamScore"
                               pInputText>
                        <label for="home-team-input">{{'page.season.creatematchdialog.stepresult.hometeamscore' | translate}}</label>
                    </span>
                </div>
                <div style="width: 10px; text-align: center">
                    :
                </div>
                <div class="result-input-div">
                    <span class="ui-float-label">
                        <input id="away-team-input" class="result-input-text" type="text" size="30" [(ngModel)]="awayTeamScore"
                               pInputText>
                        <label for="away-team-input">{{'page.season.creatematchdialog.stepresult.awayteamscore' | translate}}</label>
                    </span>
                </div>
                <div class="away-team-div">{{'page.season.creatematchdialog.stepresult.awayteam' | translate}}</div>
            </div>
            <div class="buttons-div">
                <button mat-button matStepperPrevious
                        (click)="onCancelClick()">{{'page.season.creatematchdialog.cancel' | translate}}</button>
                <button mat-button matStepperPrevious>{{'page.season.creatematchdialog.back' | translate}}</button>
                <button mat-button matStepperNext>{{'page.season.creatematchdialog.next' | translate}}</button>
            </div>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>{{'page.season.creatematchdialog.stepsummary.title' | translate}}</ng-template>
            <div class="stepper-container summary-container-div">
                <div class="summary-row">
                    <div>{{'page.season.creatematchdialog.stepsummary.matchdatelabel' | translate}}</div>
                    <div *ngIf="matchDate">
                        {{matchDate | date:'dd/MM/yyyy HH:mm'}}
                    </div>
                    <div *ngIf="!matchDate">
                        {{" - "}}
                    </div>
                </div>
                <div class="summary-row">
                    <div>
                        {{'page.season.creatematchdialog.stepsummary.hometeamlineup' | translate}}
                    </div>
                    <div>
                        {{getLineupHome()}}
                    </div>
                </div>
                <div class="summary-row">
                    <div>
                        {{'page.season.creatematchdialog.stepsummary.awayteamlineup' | translate}}
                    </div>
                    <div>
                        {{getLineupAway()}}
                    </div>
                </div>
                <div class="summary-row">
                    <div>
                        {{'page.season.creatematchdialog.stepsummary.result' | translate}}
                    </div>
                    <div *ngIf="homeTeamScore && awayTeamScore">
                        {{'page.season.creatematchdialog.stepsummary.hometeam' | translate}} {{homeTeamScore}}
                        : {{awayTeamScore}} {{'page.season.creatematchdialog.stepsummary.awayteam' | translate}}
                    </div>
                    <div *ngIf="!homeTeamScore || !awayTeamScore">
                        {{" - "}}
                    </div>
                </div>
            </div>
            <div class="buttons-div">
                <button mat-button matStepperPrevious
                        (click)="onCancelClick()">{{'page.season.creatematchdialog.cancel' | translate}}</button>
                <button mat-button matStepperPrevious>{{'page.season.creatematchdialog.back' | translate}}</button>
                <button mat-button type="submit" (click)="onOK()" [mat-dialog-close]="dialogInput" cdkFocusInitial>
                    {{'page.season.creatematchdialog.ok' | translate}}
                </button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
