<form [formGroup]="seasonFormGroup">
  <h1 mat-dialog-title>{{getTitle()}}</h1>
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [(ngModel)]="dialogInput.season.seasonYear"
             placeholder="{{'page.adminconsole.seasondialog.seasonYear.placeholder' | translate}}" [formControl]="seasonYearControl">
      <mat-error *ngIf="seasonYearControl.invalid"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'page.adminconsole.seasondialog.seasonStart.placeholder' | translate}}</mat-label>
      <input matInput [matDatepicker]="pickerStart" [(ngModel)]="dialogInput.season.seasonStart" [formControl]="seasonStartControl">
      <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
      <mat-datepicker #pickerStart></mat-datepicker>
      <mat-error *ngIf="seasonStartControl.invalid"></mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>{{'page.adminconsole.seasondialog.seasonEnd.placeholder' | translate}}</mat-label>
      <input matInput [matDatepicker]="pickerEnd" [(ngModel)]="dialogInput.season.seasonEnd" [formControl]="seasonEndControl">
      <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
      <mat-datepicker #pickerEnd></mat-datepicker>
      <mat-error *ngIf="seasonEndControl.invalid"></mat-error>
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()">{{'page.adminconsole.seasondialog.cancel' | translate}}</button>
    <button mat-button type="submit" (click)="onSubmit()" [mat-dialog-close]="dialogInput"
            [disabled]="!seasonFormGroup.valid">
      {{'page.adminconsole.seasondialog.ok' | translate}}
    </button>
  </div>
</form>
