<div class="main-content">
  <div class="container-fluid">
    <div>
      {{ 'page.ranking.title' | translate}} {{getSeasonYear()}}
    </div>
    <div class="ranking-table-container">
      <table mat-table
             [dataSource]="dataSource" multiTemplateDataRows
             class="mat-elevation-z8">
        <!-- Name Column -->
        <ng-container matColumnDef="player">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'col-detail'"> {{ 'page.ranking.table.playercol' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{getName(element)}} </td>
        </ng-container>

        <ng-container matColumnDef="level">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'col-detail'"> {{ 'page.ranking.table.levelcol' | translate}} </th>
          <td mat-cell *matCellDef="let element">
            <p-rating [(ngModel)]="element.level" [stars]="getMaxRating()" readonly="true" [cancel]="false"></p-rating>
          </td>
        </ng-container>

        <ng-container matColumnDef="rank">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'col-detail'"> {{ 'page.ranking.table.rankcol' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.rank}}. </td>
        </ng-container>

        <ng-container matColumnDef="pointsavg">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'col-detail'"> {{ 'page.ranking.table.pointsavgcol' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{ element.pointsAvg | number: '.3-3'}}</td>
        </ng-container>

        <ng-container matColumnDef="pointsoverall">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'col-detail'"> {{ 'page.ranking.table.pointsoverallcol' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.pointsOverall}} </td>
        </ng-container>

        <ng-container matColumnDef="played">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'col-detail'"> {{ 'page.ranking.table.playedcol' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.played}} </td>
        </ng-container>

        <ng-container matColumnDef="missed">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'col-detail'"> {{ 'page.ranking.table.missedcol' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.missed}} </td>
        </ng-container>

        <ng-container matColumnDef="wins">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'col-detail'"> {{ 'page.ranking.table.winscol' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.wins}} </td>
        </ng-container>

        <ng-container matColumnDef="draws">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'col-detail'"> {{ 'page.ranking.table.drawscol' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.draws}} </td>
        </ng-container>

        <ng-container matColumnDef="loses">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'col-detail'"> {{ 'page.ranking.table.losescol' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.loses}} </td>
        </ng-container>

        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'col-detail'"> {{ 'page.ranking.table.scorecol' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{getScore(element)}} </td>
        </ng-container>

        <ng-container matColumnDef="scoredoverall">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'col-detail'"> {{ 'page.ranking.table.scoredoverallcol' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.scoredOverall}} </td>
        </ng-container>

        <ng-container matColumnDef="scoredavg">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'col-detail'"> {{ 'page.ranking.table.scoredavgcol' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{ element.scoredAvg | number: '.2-2'}} </td>
        </ng-container>

        <ng-container matColumnDef="receivedoverall">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'col-detail'"> {{ 'page.ranking.table.receivedoverallcol' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{element.receivedOverall}} </td>
        </ng-container>

        <ng-container matColumnDef="receivedavg">
          <th mat-header-cell *matHeaderCellDef [ngClass]="'col-detail'"> {{ 'page.ranking.table.receivedavgcol' | translate}} </th>
          <td mat-cell *matCellDef="let element"> {{ element.receivedAvg | number: '.2-2'}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="table-footer">
      <mat-paginator [pageSizeOptions]="[5, 10, 25]" [pageSize]="maxPageSize" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

