.ranking-table-container {
  overflow: scroll;
  max-height: 70vh;

  table {
    width: 100%;

    .col-detail {
      left: 0 !important;
      min-width: 80px;
    }
  }
}

.table-footer {
  .mat-paginator {
    display: block;
    width: 100%;
  }
}
