<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="user" class="card text-center">
            <h6 class="card-header">
                {{'login.title' | translate}}
            </h6>
            <div class="card-block"></div>
            <img class="card-img-top img-responsive photo" src="{{ user.photoUrl }}">
            <div class="card-block">
                <h4 class="card-title">{{ user.name }}</h4>
                <p class="card-text">{{ user.email }}</p>
            </div>
        </div>
    </div>
</div>
